.black{
width: 800px;
height: 600px;
border: 10px solid black;
}

.orange{
height: 150px;
background: orange;
}

.target{
    display: flex;
    width: 100%;
    height: 300px;
}

.red, .green, .blue, .yellow{
    width: 200px;
    height: 300px;
}

.red{
    background: red;
}

.green{
    background: green;
}

.blue{
    background: blue;
}

.yellow{
    background: yellow;
}